.frame1 {
  align-items: center;
  width: 90%;
  padding-left: 50px;
  padding-right: 50px;
  background: #ffffff;
}

header {
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 91px;
}

.global_content {
  width: 100%;
}

.header-info-1 {
  align-items: flex-start;
}

.content-info {
  display: flex;
  align-items: flex-start;
}

.item-logo {
  width: auto;
  font-family: "Bilbo Swash Caps", cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  color: rgba(254, 209, 54, 1);
  margin: 5px;
  text-decoration: none;
}

.header-info-2 {
  display: flex;
  align-items: flex-end;
  list-style: none;
}

.item a {
  width: auto;
  align-items: center;
  vertical-align: baseline;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(254, 209, 54, 1);
  text-transform: uppercase;
  margin-left: 32px;
  text-decoration: none;
}

.item:hover {
  text-decoration: underline;
}

.item:first-child {
  margin-right: 0px;
}

.text1-logo {
  text-align: center;
  border-radius: 0px;
  font-family: "Bilbo Swash Caps", cursive;
  font-size: 24px;
  font-style: bold;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  color: #333333;
}

.text1 {
  text-align: center;
  border-radius: 0px;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  color: #333333;
}

.text2 {
  text-align: center;
  border-radius: 0px;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 0em;
  color: #333333;
  text-transform: uppercase;
}

.yellow-line-container {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 40px;
}

.yellow-line {
  display: block;
  width: 60px;
  height: 4px;
  background: rgba(254, 209, 54, 1);
}

/* list */
.list {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  list-style: none;
  margin-top: 50px;
  margin-bottom: 20px;
  align-items: flex-start;
}

.list-item {
  width: 33%;
  min-width: 400px;
}

.list-item-content {
  display: inline-flex;
}

.list-item-content-pic {
  padding: 15px;
}

.text-headline-city {
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  line-height: 17px;
  color: #333333;
}

.text-headline-city {
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  line-height: 17px;
  color: #333333;
}

.text-headline {
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.info-block {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  color: #b6b6b6;
}

.text3 {
  width: 100%;
  font-family: Roboto;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(182, 182, 182, 1);
}

.footer {
  border-top: #b6b6b6 solid 1px;
  padding-top: 5px;
  align-items: center;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.footer-info-1 {
  align-items: flex-start;
}

.info-block-1 {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  font-size: 15px;
  line-height: 22px;
  color: #b6b6b6;
}

.item-logo-footer-1 {
  width: auto;
  font-family: "Montserrat";
  font-size: 17px;
  font-style: normal;
  font-weight: 200;
  color: #333333;
  margin: 5px;
}

.footer-info-2 {
  display: flex;
  align-items: flex-end;
}

.input-email {
  border: 1px solid grey;
  font-style: italic;
  line-height: 21px;
  width: 250px;
  height: 26px;
  margin-right: 10px;
}

.input-password {
  border: 1px solid grey;
  font-style: italic;
  line-height: 21px;
  width: 250px;
  height: 26px;
  margin-right: 10px;
}

.submit-email-button {
  border: 1px solid grey;
  background-color: #333333;
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  color: rgba(255, 255, 255, 1);
}

.checkbox-label {
  width: auto;
  font-family: "Montserrat";
  font-size: 14px;
  font-style: normal;
  font-weight: 200;
  color: #333333;
  margin: 15px;
  margin-top: 5px;
}

.text-headline-menu {
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #333333;
}

.submit-button {
  border: 1px solid grey;
  background-color: #333333;
  width: 140px;
  height: 30px;
  text-transform: uppercase;
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

.black-block {
  background-color: rgba(34, 34, 34, 1);
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.contact-form {
  width: 900px;
  height: 300px;
}

.text-contact {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 17px;
  color: rgba(255, 255, 255, 1);
  margin-top: 60px;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.contacts {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.info-block {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(119, 119, 119, 1);
}

.info-block-city {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: rgba(119, 119, 119, 1);
  text-align: center;
}

.text1-contacts {
  text-align: center;
  border-radius: 0px;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: -1px;
  color: rgba(34, 34, 34, 1);
  text-transform: uppercase;
  margin-bottom: 100px;
}

.inputs {
  width: 50%;
  align-items: flex-end;
}

.inputs input {
  width: 100%;
  margin-top: 20px;
  margin-right: 2px;
}

.message {
  width: 60%;
  align-items: flex-end;
}

.message textarea {
  margin-top: 20px;
  height: 140px;
  width: 60%;
  margin-left: 3px;
}

.text-input {
  padding-left: 4px;
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  text-align: left;
  text-transform: uppercase;
  height: 30px;
  width: 300px;
}

.button-text {
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;
  background-color: rgba(254, 209, 54, 1);
  border-color: rgba(254, 209, 54, 1);
  padding: 20px;
  border: 0px;
  margin-top: 60px;
  border-radius: 3px;
  position: relative;
  display: inline-block;
  padding: 23px 45px;
  cursor: pointer;
}

.button {
  text-align: center;
}

.list-image-map {
  width: 250px;
}
